@use "../abstracts" as *;

header {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  z-index: 10;

  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  align-self: center;
  font-family: var(--font-logo);
  font-size: 2em;
  margin: 0;
  text-decoration: none;
  z-index: 10;
}

.nav {
  $nav: &;
  // color: var(--clr-neutral-100);
  font-size: 1.25em;
  display: flex;
  // flex-direction: column-reverse;
  max-height: 3.5em;
  z-index: 10;

  &__linkslist {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    align-items: center;
    height: 100%;
    transition: display 300ms ease-in-out;

    #{ $nav }__link {
      cursor: pointer;
      margin: 0;
      color: inherit;
      padding: calc((56px - 1.4em) / 2) 0.5em;
      text-decoration: none;
      background-color: transparent;
      transition: background-color 200ms ease-in-out;

      & a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        background-color: var(--clr-primary-800);
      }
    }
  }

  &__avatar {
    align-self: center;
    margin-left: 1em;
    width: 36px;
    height: 36px;

    & > img {
      border-radius: 50%;
      border: 2px solid var(--clr-neutra-100);
      object-fit: cover;
    }
  }
}

//
// mobile navigation with animation
//
.nav__toggle {
  cursor: pointer;
  position: relative;
  display: block;
  width: 2.5em;
  height: 1.7em;
  align-self: center;
  z-index: 10;

  & > input {
    display: none;

    &:checked {
      & + span i {
        &:not(.line) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:last-of-type {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:first-of-type {
          background-color: transparent;
        }
      }
    }
  }

  & i {
    display: block;
    background-color: var(--clr-neutral-100);
    width: 100%;
    height: 0.3em;
    border-radius: 0.2em;

    &:not(.line) {
      position: relative;
      transition: transform 100ms ease-out, top 100ms ease-out;
    }

    &.line {
      position: absolute;

      &:first-of-type {
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 20ms ease-out;
      }

      &:last-of-type {
        bottom: 0;
        transition: top 200ms ease-out, transform 200ms ease-out;
      }
    }
  }
}

@media (max-width: 719px) {
  .nav {
    position: absolute;
    height: 0;
    top: calc(0em - 2.7em - 100vh);
    right: 0;
    left: 0;
    transition: top 300ms ease-in-out;

    &__linkslist {
      width: 100vw;
      min-height: calc(100vh - 2.7rem);
      background-color: var(--clr-primary-500);
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width: 720px) {
  .nav {
    flex-direction: row;
    // &__linkslist {
    // }

    &__toggle {
      display: none;
    }
  }
}
