@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
img {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
}

:root {
  --clr-neutral-100: #f5f5f5;
  --clr-primary-200: #e8d3c3;
  --clr-primary-300: #e8d3c3;
  --clr-primary-500: #c5ad99;
  --clr-primary-800: #583c3c;
  --clr-status-success: #c7d3a2;
  --clr-gold: #ffd700;
  --clr-status-error: #8a2f2f;
  --font-logo: "Leckerli One", cursive;
  --font-site: "Open Sans", sans-serif;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: 1.25em;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
}
.btn--success {
  background-color: #c7d3a2;
  border-color: #c7d3a2;
  color: #f5f5f5;
}
.btn--success:hover {
  background-color: transparent;
  border-color: #583c3c;
  color: #583c3c;
}
.btn--empty {
  background-color: transparent;
  color: #583c3c;
}
.btn--empty:hover {
  background-color: #c5ad99;
  border-color: #c5ad99;
  color: #f5f5f5;
}
.btn--empty:hover path {
  fill: #f5f5f5;
}
.btn__icon {
  margin-left: 0.4em;
  align-self: center;
  width: 24px;
  height: 24px;
}
.btn__icon > path {
  transition: fill 300ms ease-in-out;
}
.btnfilter {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
}

.label {
  font-weight: 500;
}
.label__input {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: 1.25em;
  background-color: transparent;
  font-weight: 500;
  font-weight: inherit;
  color: #583c3c;
  outline: unset;
  border-color: transparent;
  border: 2px solid #583c3c;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

select {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: 1.25em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.searchBar {
  position: relative;
  top: 0;
  display: flex;
}

.searchBar input[type=text] {
  padding: 6px;
  border: 2px solid #c5ad99;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 5px;
  height: 30px;
}

.searchBar input[type=text]:focus {
  border: 2px solid #583c3c;
}

.searchBar input[type=text],
textarea {
  background-color: #f5f5f5;
}

.img_search_pos {
  position: absolute;
  top: 10px;
  left: 195px;
  color: #f5f5f5;
}

.dropdown {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.dropdown__input {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: 1.25em;
  background-color: transparent;
  font-weight: 500;
  font-weight: inherit;
  color: #583c3c;
  outline: unset;
  border-color: transparent;
  border: 2px solid #583c3c;
  position: relative;
  background-color: inherit;
  border-radius: 10px;
  font-size: 0.8em;
  text-decoration: none;
}
.dropdown__arrow {
  display: block;
  box-sizing: initial;
  position: absolute;
  padding: 0.2em;
  top: 50%;
  max-height: 24px;
  width: 24px;
  z-index: -1;
  background-color: #583c3c;
  transform: translateY(-50%);
  right: 0;
}

.pass {
  position: relative;
  display: block;
}
.pass__forgot {
  display: block;
  position: relative;
}
.pass__forgot > a {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
}
.pass__toggle {
  display: block;
  background-color: #f5f5f5;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  z-index: 2;
  width: 24px;
  height: 24px;
  right: 1em;
  top: 50%;
}

footer {
  padding: 1em 0;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
}

header {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-500);
  z-index: 10;
}
header > div {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  font-family: var(--font-logo);
  font-size: 2em;
  margin: 0;
  text-decoration: none;
  z-index: 10;
}

.nav {
  font-size: 1.25em;
  display: flex;
  max-height: 3.5em;
  z-index: 10;
}
.nav__linkslist {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  height: 100%;
  transition: display 300ms ease-in-out;
}
.nav__linkslist .nav__link {
  cursor: pointer;
  margin: 0;
  color: inherit;
  padding: calc((56px - 1.4em) / 2) 0.5em;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
.nav__linkslist .nav__link a {
  text-decoration: none;
  color: inherit;
}
.nav__linkslist .nav__link:hover {
  background-color: var(--clr-primary-800);
}
.nav__avatar {
  align-self: center;
  margin-left: 1em;
  width: 36px;
  height: 36px;
}
.nav__avatar > img {
  border-radius: 50%;
  border: 2px solid var(--clr-neutra-100);
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__toggle {
  cursor: pointer;
  position: relative;
  display: block;
  width: 2.5em;
  height: 1.7em;
  align-self: center;
  z-index: 10;
}
.nav__toggle > input {
  display: none;
}
.nav__toggle > input:checked + span i:not(.line) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.nav__toggle > input:checked + span i:last-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.nav__toggle > input:checked + span i:first-of-type {
  background-color: transparent;
}
.nav__toggle i {
  display: block;
  background-color: var(--clr-neutral-100);
  width: 100%;
  height: 0.3em;
  border-radius: 0.2em;
}
.nav__toggle i:not(.line) {
  position: relative;
  transition: transform 100ms ease-out, top 100ms ease-out;
}
.nav__toggle i.line {
  position: absolute;
}
.nav__toggle i.line:first-of-type {
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 20ms ease-out;
}
.nav__toggle i.line:last-of-type {
  bottom: 0;
  transition: top 200ms ease-out, transform 200ms ease-out;
}

@media (max-width: 719px) {
  .nav {
    position: absolute;
    height: 0;
    top: calc(-2.7em - 100vh);
    right: 0;
    left: 0;
    transition: top 300ms ease-in-out;
  }
  .nav__linkslist {
    width: 100vw;
    min-height: calc(100vh - 2.7rem);
    background-color: var(--clr-primary-500);
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 720px) {
  .nav {
    flex-direction: row;
  }
  .nav__toggle {
    display: none;
  }
}
.fullPage {
  position: relative;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 2em 1.5em;
  display: flex;
  min-height: calc(100vh - 2.7em);
}

.background {
  background: url("/static/resources/bookshelf.jpg") no-repeat;
}
@media (min-width: 720px) {
  .background {
    min-height: calc(100vh - 55.2px);
  }
}
.background::after {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: display 300ms ease-in-out;
  display: none;
}

.form {
  align-self: center;
  margin: 0 auto;
  color: var(--clr-primary-800);
  background-color: var(--clr-neutral-100);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  max-width: 320px;
  width: 100%;
  border-radius: 15px;
  padding: 2em;
}
.form__header {
  margin-top: 0;
}
.form p:last-of-type {
  text-align: center;
}
.form input:last-of-type() {
  margin-top: 1em;
}
.form input[type=submit] {
  margin-top: 1em;
}
.form p {
  font-size: 0.75em;
}

.page {
  display: flex;
  padding: 2em;
  gap: 3em;
}
.page > .profile {
  background-color: #f5f5f5;
  width: 20em;
  height: 40em;
}
.page > .profile > .profile_info {
  color: #583c3c;
  left: 10%;
  text-align: center;
  padding: 2em 2em 0em 2em;
  font-weight: 1000;
  font-size: 1em;
}
.page > .profile > .profile_info > .avatar_img {
  width: 15em;
  height: 15em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.page > .profile > .profile_info2 {
  color: #583c3c;
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  padding: 1em 2em 0em 2em;
}
.page > .profile > .description {
  color: #583c3c;
  text-align: left;
  padding: 2em;
  font-size: 0.8em;
}
.page > .profile > .btn {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 4em;
  background-color: #583c3c;
  color: #f5f5f5;
}
.page > .profile > .btn:hover {
  background-color: transparent;
  border-color: #583c3c;
  color: #583c3c;
}
.page .grid-container {
  display: grid;
  background-color: #f5f5f5;
  grid-template-rows: 50px 300px 300px;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-auto-rows: 300px;
}
.page .grid-container > .tableheader {
  background-color: #c5ad99;
  text-align: center;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1.6em;
  padding: 0.3em;
}
.page .grid-container > .cover {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1em;
}
.page .grid-container > .field {
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #583c3c;
  font-weight: 700;
  font-size: 1.2em;
  padding: 5em;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-site);
  color: var(--clr-neutral-100);
  overflow: hidden;
}

.container {
  padding: 0 2em;
  width: 90%;
  margin: 0 auto;
}

.notFound {
  align-self: center;
  margin: 0 auto;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url("/static/resources/banner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-backdrop-filter: blur(1px) saturate(80%);
          backdrop-filter: blur(1px) saturate(80%);
}
.banner > .container {
  position: relative;
  z-index: 4;
  display: flex;
}
.banner > .container .banner__content {
  align-self: center;
}
.banner > .container .banner__header {
  font-size: 2.25em;
  margin: 0;
}
.banner .btn {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2em;
  padding-right: 2em;
}
.banner .btn:hover {
  background-color: transparent;
  border-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
}/*# sourceMappingURL=main.css.map */