@use "./base/reset";
@use "./components" as *;
@use "./layout";

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-site);
}

.container {
  padding: 0 2em;
  width: 90%;
  margin: 0 auto;
}

//
//.genresection {
//  margin-top: 1.5em;
//  margin-bottom: 1.5em;
//
//  & p:first-of-type {
//    font-size: 1.5em;
//    font-weight: 700;
//    color: var(--clr-primary-800);
//  }
//}
//
//.genresfilter {
//  background: var(--clr-neutral-100);
//
//  & > div {
//    display: flex;
//    justify-content: space-between;
//    gap: 2em;
//    align-items: center;
//    max-width: 100%;
//  }
//}
//
//.banner {
//  $root: &;
//  position: relative;
//  min-height: calc(100vh - 56px);
//  background: url("../images/banner.jpg");
//  background-size: cover;
//
//  &::before {
//    content: "";
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    z-index: 1;
//    background-color: rgba(0, 0, 0, 35%);
//    backdrop-filter: blur(1px) saturate(80%);
//  }
//
//  & .container {
//    z-index: 2;
//    display: flex;
//    #{ $root }__content {
//      align-self: center;
//    }
//    #{ $root }__header {
//      font-size: 2.25em;
//      margin-bottom: 0;
//    }
//  }
//
//  .btn {
//    text-decoration: none;
//    width: fit-content;
//    padding-left: 2em;
//    padding-right: 2em;
//
//    &:hover {
//      background-color: transparent;
//      border-color: var(--clr-neutral-100);
//      color: var(--clr-neutral-100);
//    }
//  }
//}
//
//@media (min-width: 400px) {
//  .genresection {
//    &__carousel {
//      display: flex;
//      flex-wrap: wrap;
//      // justify-content: space-between;
//    }
//  }
//
//  .cardBook {
//    margin: 1em;
//  }
//}
