@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

$default-font: "Open Sans", sans-serif;
$logo-font: "Leckerli One", cursive;

// Default border-radius
$default-bradius: 15px;

// Color pallete
// -> main colors
$neutral-color: #f5f5f5;
$primary-light: #e8d3c3;
$primary-color: #e8d3c3;
$primary-darker: #c5ad99;
$primary-dark: #583c3c;

// -> status colors
$status-success: #c7d3a2;
$color-gold: #ffd700;

// Exporting colors for later usage in js
// :export {
//   neutralColor: #f5f5f5;
//   primaryLight: #e8d3c3;
//   primaryColor: #e8d3c3;
//   primaryDarker: #c5ad99;
//   primaryDark: #583c3c;
//   statusSuccess: #c7d3a2;
//   colorGold: #ffd700;
// }
