@use "../abstracts/" as *;

.btn {
  $root: &;
  @include button();
  cursor: pointer;
  font-weight: 700;
  outline: 0;

  &--success {
    @include buttonPaintFull($status-success, $neutral-color);

    &:hover {
      @include buttonPaint(transparent, $primary-dark, $primary-dark);
    }
  }

  &--empty {
    background-color: transparent;
    color: $primary-dark;

    &:hover {
      @include buttonPaint($primary-darker, $neutral-color, $primary-darker);

      & path {
        fill: $neutral-color;
      }
    }
  }

  &__icon {
    // display: inline-block;
    // vertical-align: middle;
    margin-left: 0.4em;
    align-self: center;

    width: 24px;
    height: 24px;

    & > path {
      transition: fill 300ms ease-in-out;
    }
  }

  &filter {
    max-width: fit-content;
    display: flex;
  }
}

.label {
  font-weight: 500;
  &__input {
    @include input(transparent, $primary-dark);
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }
}

select {
  @include box();

  appearance: none;
}

//============
.searchBar {
  position: relative;
  top: 0;
  display: flex;
}

.searchBar input[type="text"] {
  padding: 6px;
  border: 2px solid $primary-darker;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 5px;
  height: 30px;
}

.searchBar input[type="text"]:focus {
  border: 2px solid $primary-dark;
}

.searchBar input[type="text"],
textarea {
  background-color: $neutral-color;
}

// .img_search{
//   position: absolute;
//   top:0;
//   height: 100%;
//   right:0;
//   width: 55px;
//   padding: 0 1em;
// }

.img_search_pos {
  position: absolute;
  top: 10px;
  left: 195px;
  // right:500px;
  color: $neutral-color;
}

.dropdown {
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &__input {
    @include input(transparent, $primary-dark);
    position: relative;
    background-color: inherit;
    border-radius: 10px;
    font-size: 0.8em;
    text-decoration: none;
  }

  &__arrow {
    display: block;
    box-sizing: initial;
    position: absolute;
    padding: 0.2em;
    top: 50%;
    max-height: 24px;
    width: 24px;
    z-index: -1;
    background-color: $primary-dark;
    transform: translateY(-50%);
    right: 0;
  }
}

.pass {
  position: relative;
  display: block;

  &__forgot {
    display: block;
    position: relative;

    & > a {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.9em;
    }
  }

  &__toggle {
    display: block;
    background-color: $neutral-color;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;
    width: 24px;
    height: 24px;
    right: 1em;
    top: 50%;
  }
}
