@use "../abstracts" as *;

.carousel {
  $root: &;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
  font-weight: 700;
  color: $primary-dark;
  margin: 1.5em 0;
  // Fixes undefined behaviour
  min-width: 10%;

  &__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0.4em 1em;
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex: auto;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    #{ $root }__item {
      flex: 1;
      cursor: pointer;
    }
  }

  &__toleft,
  &__toright {
    background-color: $primary-dark;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    flex: 0 0 auto;
  }

  &__toleft {
    transform: rotate(180deg);
  }

  .btn {
    flex: 0 0 0;
  }
}
