@use "../abstracts/" as *;

.label {
  font-size: 1.25em;
  &__input {
    @include box();
  }
}

select {
  @include box();

  appearance: none;

  // &::after {
  //   content: "";
  //   width: 24px;
  //   height: 24px;
  //   background-image: url("../../images/arrow-down-s-line.png");
  // }
}

.filterbtn{
  width: fit-content;
  padding: 0.5em;
  border: 1px solid $primary-dark;
  border-radius: 10px;

  color: $primary-dark;
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;

  &>svg{
    display: inline-block;
    vertical-align: middle;
  }
}

.genfilter{
  background: $neutral-color; 

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;
    gap: 1.5em;
    
    &>ul{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em 2em;
      gap: 1.5em;
      list-style: none;

      color: $primary-dark;
      text-align: center;
      font-weight: 700;
      font-size: 1.25em;
    }

    &>.rbtn{
      display: flex;
      background-color: $primary-dark;
      border-radius: 12px;
    }

    &>.lbtn{
      display: flex;
      background-color: $primary-dark;
      border-radius: 12px;
      transform: rotate(-180deg);
    }

  }
}