@use "./base";
@use "./abstracts" as *;
@use "./components" as *;
@use "./layout/header";
@use "./layout/navigation";

body {
  min-height: 100vh;
  margin: 0;
  font-family: $default-font;
}

.container {
  padding: 0 2em;
  width: 90%;
  margin: 0 auto;
}

.genresection {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  & p:first-of-type {
    font-size: 1.5em;
    font-weight: 700;
    color: $primary-dark;
  }
}

@media (min-width: 400px) {
  .genresection {
    &__carousel {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .cardBook {
    margin: 1em;
  }
}
