@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
img {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
}

.cardBook {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1em;
}
.cardBook__container {
  border-radius: inherit;
  overflow: hidden;
  max-width: 160px;
  height: 232px;
}
.cardBook__container > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: 1.25em;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  font-weight: 700;
  outline: 0;
}
.btn--success {
  background-color: #c7d3a2;
  border-color: #c7d3a2;
  color: #f5f5f5;
}
.btn--success:hover {
  background-color: transparent;
  border-color: #583c3c;
  color: #583c3c;
}

.label {
  font-weight: 500;
}
.label__input {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: 1.25em;
  background-color: transparent;
  font-weight: 500;
  font-weight: inherit;
  color: #583c3c;
  outline: unset;
  border-color: transparent;
  border: 2px solid #583c3c;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

select {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: 1.25em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

header {
  color: #f5f5f5;
  max-height: 56px;
  background-color: #c5ad99;
}
header > div {
  display: flex;
  justify-content: space-between;
}

.nav {
  color: #f5f5f5;
  font-size: 1.25em;
  display: flex;
  flex-direction: column-reverse;
}
.nav__linkslist {
  margin: 0;
  list-style: none;
  height: 100%;
}
.nav__linkslist .nav__link {
  cursor: pointer;
  margin: 0;
  color: inherit;
  padding: calc((56px - 1.4em) / 2) 0.5em;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
.nav__linkslist .nav__link > a {
  text-decoration: none;
  color: inherit;
}
.nav__linkslist .nav__link--active {
  font-weight: 700;
}
.nav__linkslist .nav__link:hover {
  background-color: #583c3c;
}
.nav__avatar {
  align-self: center;
  margin-left: 1em;
  width: 60px;
  height: 60px;
  align-self: center;
}
.nav__avatar > img {
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 719px) {
  .nav {
    background-color: #583c3c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 720px) {
  .nav {
    flex-direction: row;
  }
  .nav__linkslist {
    display: flex;
    align-items: center;
  }
  .nav__avatar {
    width: 36px;
    height: 36px;
  }
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 0 2em;
  width: 90%;
  margin: 0 auto;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */