@use "./abstracts/" as *;
@import "main.css";

.profileHeader {
  position: relative;
  height: 11em;
  background-color: $neutral-color;
  display: flex;
  flex-flow: line wrap;
}

.profile_picture {
  position: relative;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 150px;
  bottom: 15px;
}
.profile_info {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin-left: 2em;
  margin-top: 50px;
}
.profile_info > * {
  margin-top: -10px;
  font-weight: bold;
}
